/* 



*/





:root {
    --primary-black: #000;
    --primary-orange:#FF8A56;
    --primary-grey: #666666;
    --primary-white:#FFFFFF;
    --primary-pink: #FF5E69;
    --primary-violet:#B16CEA;
    --primary-blue: #3C46FF;
    --shade-of-gray:rgba(255, 255, 255, 0.3);




}


@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
    font-size: 1rem;
}
a {
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    /* outline:1px solid red; */
}


body {
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    /* flex-direction: row; bu istiqameti mueyyenlewdirir: justif-content align-items */
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center; /* cross axis y oxu */
    padding: 2.56rem 7.03rem 0;
}
.fa-bars {
    display: none;
}

.nav-links a {
color: var(--primary-black);
text-decoration: none;
padding-right: 1.25rem;
/* font-size: 1rem; */
/* padding: 1.06rem; */
/* padding-bottom: 0.12rem; */
}

/* MEDIA FOR HEADER */

@media(max-width:910px) {
    .nav-links {
     display: none;
    }
 
    .fa-bars {
        display: flex; /* !important ;*/
        font-size: 26px;
        cursor: pointer;
    }
 }
 
 @media(max-width:700px) {
     header {
         padding-left: 20px;/*!important*/
         padding-right: 20px;/*!important*/
     }
 }

/* INTRODUCTION SECTION */

.introduction { 
     /* background-color: red; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 7.03rem;
    width: 100%;
}

.introduction .intro-left-side {
    padding-top: 7.31rem;
    display: flex;
    min-width: 44.69rem;
    flex-direction: column;
}

.introduction .intro-left-side h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    letter-spacing: 1px;
    margin-bottom: 0.62rem;
}



.introduction .intro-left-side h1 span {
    color: var(--primary-orange);
}

.introduction .intro-left-side p {
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    font-size: 1.37rem;
    color: var(--primary-grey);
}

.introduction .intro-left-side button {
    width: 151px;
    height: 58px;
    background-color: #000;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.introduction .intro-left-side a {
    color: var(--primary-black);
    margin-left: 15px;
}

.introduction .intro-right-side {
    padding-top: 4.4rem;
    min-width: 31.25rem;
}

/* MEDIA FOR INTRODUCTION */

@media(max-width:1457px) and (min-width:768px) {

    .introduction{
      
        padding-left: 0;
        padding-right: 0 ;
    }

    .introduction .intro-left-side {
        flex: basis 100%; 
        /* text-align: center; */
        padding-left: 0 7.03rem;
        padding-right: 0 ;
    }
    .introduction .intro-right-side {
        display: flex;
        margin: 0 auto;
    }
}

@media(max-width:852px){
    .introduction{
        padding:0 ;
        align-items: center;
    }

    .introduction .intro-left-side{
        min-width: 500px;
    }

    .introduction .intro-left-side h1 {
        text-align: center;
        font-size: 3.38rem;
    }

    .introduction .intro-left-side p {
    text-align: center;   
    font-size: 1.12rem;     
    }

    .bookacall{
        text-align: center;
    }

    .introduction .intro-right-side {
        display: flex;
        margin: 0 auto;
    }
}

@media(max-width:768px) {
    .introduction .intro-left-side {
        flex-basis: 100%;
        padding-left: 0;
        padding-right: 0; }
    }

body {
    overflow-x:hidden;
}


    /* TRUSTED BY SECTION */

    .trusted-by-section h6 {
        text-align: center;
        font-size: 1.12rem;
        font-weight: 400;
        padding: 4.8rem 0 2.8rem 0 ;
    }

    .trusted-by-companies {
        display: flex;
        justify-content: space-evenly;
    }
    
    .trusted-by-company:hover {
        transform: scale(1.2);
        transition: .8s cubic-bezier(.15,1.05,.85,.55);
    }

    /* MEDIA FOR TRUSTED-BY */

@media (max-width:768px) and (min-width:576px) {
        .trusted-by-company:nth-child(odd) {
            display: none;
        }
} 
@media(max-width:575px) {
    .trusted-by-company:not(:first-child) {
        display: none
    }
}

/* SERVICES SECTION */
  
.services-section {
    padding: 0 10.69rem;
}

.services-section h6,
.services-section h1 {
    text-align: center;   
}
.services-section h1 {
    padding: 1.25rem 0 7.2rem 0;
    font-size: 3.37rem;
}

.services-section h6 {
    text-transform: uppercase;
    font-size: 1.25rem;
    color:var(--primary-pink);
    padding-top: 6.25rem;
}
.services {
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services h2 {
    padding-top: 2.4rem;
    padding-bottom: 1.56rem;
}

.services p {
    color: var(--primary-grey);
    font-size: 1rem;
    font-weight: 400;
}
.service {
    /* background-color: teal; */
    min-width: 15.43rem;
    padding: 1.25rem;  
}

.service ul {
    list-style-type: square;
    font-weight: 700;
    padding-left: 0;
    padding-top: 1.31rem;
    list-style-position: inside;
}



/* MEDIA FOR SERVICES SECTION */

@media(max-width:1473px) and (min-width:768px){
.services-section{
    padding-left: 0;
    padding-right: 0;
}
}
@media(max-width:748px) {
    .services-section {
        padding-left: 0;
        padding-right: 0;
    }
}


/* PROJECT SECTION */

.projects-section {
    display: flex;
    flex-direction: column;
    padding-left: 7.06rem;
    padding-right: 7rem;
    padding-top: 4.75rem;
}

.projects-section h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.37rem;
    letter-spacing:  0.12rem;
    color: var(--primary-violet);

 
 }

 .view-all-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.37rem;
 
 }

 .view-all-projects button {
    width: 12.56rem;
    height: 3.6rem;
    font-size: 1rem;
    background-color:var(--primary-black);
    color:var(--primary-white);
    cursor: pointer;
}

.view-all-projects h1 {
    font-size: 3.37rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-top: 1.25rem;
}

.projects-cards {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    
}

.project-card {
    max-width: 30.4rem;
    margin-right: 4rem;
}

.project-bottom {
    padding:2.06rem 0 2.06rem 2rem;
    background-color: var(--primary-white);
}

.slider-buttons {
    align-self: flex-end;
    padding-top: 1.62rem;
}

.slider-buttons button {
    width: 3.37rem;
    height: 3.37rem;
    border: transparent;
    cursor: pointer;
}

.project-bottom h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 10px;
    letter-spacing: 2px;
    color: var(--primary-blue);
}
.project-bottom h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1.3rem;
}

.project-bottom a {
    color: var(--primary-black);
}

.project-bottom a img {
    padding-top: 20px;
    font-size: 1.12rem;
    font-weight: 400;
    padding-left: 0.8rem;
}

/* MEDIA FOR PROJECT SECTION */

@media(max-width:1520px) {
    .project-card:nth-child(3) {
        display: none;
    }

    .projects-section{
        align-items: center;
    }
}

@media(max-width:1150px) {
    .project-card:nth-child(2) {
        display: none;
    }

    .projects-section{
        align-items: center;
    }

    .project-card {
        align-items: center
    }
}

@media(max-width:617px) {
    .projects-section {
        align-items: center;
        justify-content: center;
    }

    .project-card {
        width: 445px;
        padding-left: 0.8rem;
    }

    .view-all-projects {
        padding-right: 0;
    }

    .slider-btns {
        padding-top:0 ;
    }
}

/* LATEST BLOGS SECTION */

.latest-blogs-section {
    background-color: var(--primary-black);
    padding: 7.31rem;
    padding-top: 9rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -17.06%;;
}

.latest-blogs-section h5{
    color: var(--primary-orange);
    margin-bottom: 0.94rem;
    font-size: 1.37rem;
}

.latest-blogs-section h1 {
color: var(--primary-white);
margin-bottom: 1.25rem;
font-size:  3.37rem; 
}

.latest-blogs-section a,
.latest-blogs-section h2 {
    color: var(--primary-white);
}

.latest-blogs-section .left-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    min-width:  23.31rem;
    padding-top: 7.81rem;

}

.latest-blogs-section .right-side {
    flex: 1;
    min-width: 31.81rem;
    padding-top:  8.75rem;
}

.latest-blogs-section .right-side .blog {
    padding: 1.25rem 1.25rem 1.25rem 0;
    border-bottom: 1px solid var(--primary-grey);
}

.right-side h2 {
    color: var(--primary-white); 
    font-size: 28px;
}
.blog .metadata {
    color: var(--primary-grey);
    font-size:  0.94rem;
    font-weight: 700;
    margin-bottom: 1.87rem;
    display: inline-block;
}

.latest-blogs-section .right-side .blog h2 {
    font-size: 1.75rem;
    margin-bottom: 1.87rem;
    width:36rem;
}

/* MEDIA FOR LATES SECRION */

@media(max-width:768px){

    .latest-blogs-section {
        padding-left:  1.5rem;
        padding-right: 0;
        align-items: center;
        
    }

    .latest-blogs-section .right-side {
        min-width: 450px;
        font-size: 0.81rem;
    }

    .latest-blogs-section .right-side .blog h2 {
       
        font-size: 1.37rem;
        font-weight: 400;
    }
}

/* PRODUCT DESIGNER SECTION */

.product-designer-section {
    padding: 4.94rem 7.06rem ;
}

.product-designer-section h6 {
    color: var(--primary-pink);
    font-size: 1.37rem;
    font-weight: 700;
}

.thats-me-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9.19rem;
    flex-wrap: wrap;
}

.thats-me-section h1 {
    font-size: 3.37rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 0.94rem;
    /* flex-wrap: wrap; */
    /* max-width: 273px; */
}

.thats-me-section p {
    font-size: 1.37rem;
    font-weight: 400;
    max-width: 625px;
    align-items: center;
    line-height: 2.5rem;
    color: var(--primary-grey);
}

.thats-me-image-section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.thats-me-image-section img {
    width: 100%;
    height: 100%;
}

.thats-me-image-section .left-side {
    padding-right: 3rem;
}

.thats-me-image-section .center {
    padding-right: 2.9rem;
}


.thats-me-image-section .right-side-top {
    margin-bottom: 1rem;
}

/* MEDIA FOR PRODUCT DESIGNER SECTION */
@media(max-width:1182px){
    .product-designer-section{
        /* padding-left: 3.1rem;
        padding-right: 3.1rem; */
    }

    .thats-me-section {
        padding-bottom: 4rem;
    }

    .thats-me-section h1{
        margin-bottom: 2rem;
    }

    

    .thats-me-image-section .center {
        min-width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
   
    
 }

 @media(max-width:627px){
    .product-designer-section{
        padding-left: 3.1rem;
        padding-right: 3.1rem;
    }

 }

 /* EDUCATION AND WORK EXPERIENCE */

.education-and-work-section{
    display: flex;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 4.65rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

.education-side{
    flex-basis: 50%;
    min-width: 447px;
}

.education-side h1 {
    font-size: 2.25rem;
    margin-bottom:  0.94rem;
}

.education-side .education-top {
    font-size: 1.5rem;
    margin-bottom: 1.94rem;
}

/* .education-side .education-top img {
    margin-right: 2rem;
} */

.education-side .education-bottom {
    font-size: 1rem;
}

.education{
    padding: 1.25rem 1.25rem 1.25rem 0;
    border-bottom:1px solid #dedede;
}

.education-top {
    display: flex;
    justify-content: space-between;

}

.education-bottom {
    display: flex;
    justify-content: space-between;
}

.education-bottom > span:nth-child(2) {
    margin-right: 2.5rem;
}

.work-experience-side{
    flex:1;
    min-width: 447px;
}

.work-experience-side  h1 {
    font-size:  2.25rem;
    margin-bottom: 0.94rem;
}

.work-experience-section {
    display: flex;
    align-items: center;
}

/* .work-experience-section > svg {
    flex-basis: 10%;
} */

.work-experience-side .work-top {
    font-size: 1.5rem;
    margin-bottom: 1.94rem;
    margin-left: 1.5rem;
}

.work-experience-side .work-side-bottom{
    font-size: 1rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    
}

.work-side {
    display: flex;
    flex-direction: column;
    flex:1;
    border-bottom: 1px solid #dedede;
    padding:  1.25rem 1.25rem 1.25rem 0;
}

.work-top {
    display: flex;
    justify-content: space-between;
}

.work-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
}

.work-bottom > span:nth-child(2) {
    margin-right: 2.5rem;
 }

 /* MEDIA FOR EDUCATION AND WORK EXPERIANCE */

 @media(max-width:1135px) {
    .education-side {
        flex:1;
    }

    .work-experience-side{
        padding-top: 3rem;
    }
 }
 @media(max-width:690px){
    .education-and-work-section{
        padding-left: 2rem;
    }
 }

/* TESTIMONIALS SECTION */

.testimonial-section {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;
    /* flex-wrap: wrap; */

}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.testimonial-header .side {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.side h6 {
    font-size:  1.37rem; 
    letter-spacing: 4px;
    color: var(--primary-blue);
    text-transform: uppercase;
}

.side h1 {
    font-size: 3.37rem;
    letter-spacing: 1px;
    /* font-weight: bolder; */
}

.center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-basis: 50%; */
}

.center .man {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .center .man {
    width: 500px;
    height: 560px;
    min-width: 200px;

} */

.center .man img {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
}

.center .speech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-basis: 1; */
}

.speech .vector-c {
    display: flex;
    align-self: flex-start;
    width: 3rem;
    height: 6rem;
}

/* .speech .vector-c img {
    width: 100%;
    height: 100%;
} */

.speech h2 {
    width: 100%;
    font-size: 2.25rem;
    /* letter-spacing: 3px; */
    /* text-align: justify; */
}

.bottom {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom .name {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.bottom .name h4 {
    font-size: 1.5rem;
}

.bottom .name p {
    font-size: 1rem;
}

.bottom-btns-figure {
    display: flex;

}

.bottom-btns {
    background-color: var(--primary-black);
    padding: 0.9rem;
    width: 3rem;
    height: 2.7rem;
}

.bottom-btns img {
    display: flex;
    color: var(--primary-white);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media(max-width:1319px){
.testimonial-section {
     display: flex;
     /* align-items: center; */
    }
    .center .man{
        display: flex;
        /* align-items: center; */
    }
}
@media(max-width:768px){
    .side h1{
        font-size: 2rem;
    }

}
@media(max-width:545px){
    .side h1{
        font-size: 2rem;
    }
    .testimonial-section {
        padding: 2rem;
    }
}
